<a href="https://colab.research.google.com/github/Kerdis/CSA_REP/blob/main/Copy_of_Type_Conversion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---

### **Type Conversion & User Input**

---

**I. Introduction to Type Conversion**

- **Concept of Data Types and Compatibility:**
    - Sometimes, different data types can't directly interact or work together.
    - For instance, you can't directly add a text representation of a number (string) to an actual number (integer or float).

- **Implicit vs. Explicit Type Conversion:**
    - **Implicit:** Done automatically by the compiler/interpreter.
    - **Explicit:** Done intentionally by the programmer.

---

**II. Implicit Type Conversion**

- **Definition:**
    - When the Python interpreter automatically changes one data type to another without the programmer's intervention.

- **Examples:**
    - Combining an integer with a float results in a float.
    ```python
    result = 3 + 4.5  # result is 7.5, a float
    ```
    - Combining an integer with a string can lead to errors.
    
- **Potential Pitfalls:**
    - **Loss of Data:** Converting from float to integer discards the decimal part.
    - **Unexpected Results:** Implicit conversion might not always yield the expected outcome.
    - **Type Errors:** Some implicit conversions aren't allowed and can cause errors.

---

**III. Explicit Type Conversion**

- **Definition:**
    - When the programmer intentionally converts one data type to another using built-in functions.

- **Conversion Functions:**
    - `int()`: Converts a value to an integer.
    - `float()`: Converts a value to a floating-point number.
    - `str()`: Converts a value to a string.

- **Demonstrations:**
    - Convert a float to an integer:
    ```python
    integer_value = int(7.8)  # Result is 7
    ```
    - Convert an integer to a string:
    ```python
    string_value = str(25)  # Result is "25"
    ```

---

**IV. Input from Users using the `input()` function**

- **Introduction to `input()`:**
    - A built-in Python function to take user input from the console.
    
- **Characteristics of `input()`:**
    - The data obtained using `input()` is always a string. To use it as other data types, you need to convert it explicitly.

---

**1. Word Repetition Game**
- Ask the user for a word and a number.
- Convert the number to an integer and repeat the word that many times.
- Example:
    - Input: Word: "Hello", Number: "3"
    - Output: "HelloHelloHello"

---

In [3]:
#Ex1
word = input()
number = int(input())
print(word * number)

hello
3
hellohellohello

**2. Money Calculator**
- Prompt the user for the number of coins they have (like pennies, nickels, dimes, and quarters).
- Convert the input to integers.
- Calculate the total amount in dollars and cents.

---

In [7]:
#Ex2
penny_num = int(input("Penny num: "))
nickel_num = int(input("Nickel num: "))
dime_num = int(input("Dime num: "))
quart_num = int(input("Quarter num: "))
penny = 0.01
nickel = 0.05
dime = 0.1
quart = 0.25

print("Total: $", float(penny_num*penny + nickel_num*nickel + dime_num*dime + quart_num*quart))

Penny num: 2
Nickel num: 3
Dime num: 4
Quarter num: 2
Total: $ 1.07

**3. Movie Time**
- Ask the user how long a movie is in minutes (e.g., "120").
- Convert this to hours and minutes and display it.
- Example:
    - Input: "140"
    - Output: "The movie is 2 hours and 20 minutes long."

---

In [25]:
#Ex3

mov_time = int(input("How long was the movie in minutes? "))

hours = mov_time//60
min = mov_time%60

print("The movie is ", hours, "hours and ", min, "minutes long.")

How long was the movie in minutes? 111
The movie is  1 hours and  51 minutes long.

**4. Age in Days**
- Have the user input their age in years.
- Convert the age to days (ignoring leap years) and display the result.
- Example:
    - Input: "25"
    - Output: "You are approximately 9125 days old."

---

In [29]:
#Ex4

age = int(input("Age: "))
days = age*365
print("You are approximately ", days, "days old.")

Age: 25
You are approximately  9125 days old.

**5. String Calculator**
- Ask the user for two numbers but as strings (e.g., "12" and "15").
- Convert these strings to integers and perform basic arithmetic operations on them (addition, subtraction, multiplication).

---

In [30]:
#Ex5

num1 = int(input("Give a number: "))
num2 = int(input("Give a number: "))

print(num1+num2)

Give a number: 123
Give a number: 32
155

**6. Weight Converter**
- Prompt the user for their weight in pounds.
- Convert the weight to kilograms (using the conversion 1 pound = 0.453592 kilograms) and display the result.

---

In [31]:
#Ex6

weight = int(input("Weight in pounds: "))
print(weight*0.453592)

Weight in pounds: 195
88.45044

**7. Temperature Alert**
- Ask the user for the temperature in Fahrenheit.
- Convert it to Celsius.
- If the temperature in Celsius is below 0, print an alert that it's freezing!

---

In [45]:
#Ex7
temp = float(input("Degrees in fahrenheit: "))
cels = float((temp-32)*(5/9))
if cels < 0:
  print(cels)
  print("FREEZING")
else:
  print(cels)

Degrees in fahrenheit: 31
-0.5555555555555556
FREEZING

**8. User Feedback Rating**
- Ask the user to rate a product on a scale of 1-10, but they should input it as a word (e.g., "seven").
- Convert the word to its corresponding number. (This requires a bit more logic, using a dictionary or if-else statements.)
- Display a message based on the number (e.g., for ratings 8-10, display "Thank you! We're glad you loved it!").

---

In [59]:
#Ex8
rate = str(input("Rate: "))
if rate == "eight":
  print("Thank you! We're glad you loved it!")
elif rate == "nine":
  print("Thank you! We're glad you loved it!")
elif rate == "ten":
  print("Thank you! We're glad you loved it!")
else:
  print(":(")

#Congrats on maxing it this far! You rock!!!

Rate: eight
Thank you! We're glad you loved it!

In Python, both the comma (`,`) and the plus (`+`) sign can be used with the `print` function, but they serve different purposes and have different behaviors. Here are the main differences:

1. **Type Compatibility**:
   - **Comma (`,`)**: You can use the comma to concatenate items of different types without explicitly converting them. The `print` function will internally convert the arguments to strings.
   - **Plus (`+`)**: When using the plus sign, the items being concatenated must be of the same type. If you're trying to concatenate a string with a number, for instance, you'll need to explicitly convert the number to a string using `str()`.

2. **Output Spacing**:
   - **Comma (`,`)**: When using a comma, the `print` function will insert a space between the items.
   - **Plus (`+`)**: The plus sign will concatenate the items directly without any space in between.

3. **Flexibility**:
   - **Comma (`,`)**: You can print multiple items of different types easily, and also include additional parameters like `end` and `sep`.
   - **Plus (`+`)**: It's primarily for string concatenation, and you'd have to manage type conversions yourself.

Here's a demonstration of the differences:

```python
x = 5
y = "Hello"

# Using comma
print(y, x)

# Using plus (requires explicit type conversion for non-string types)
print(y + " " + str(x))
```

The output for the above code would be:

```
Hello 5
Hello 5
```

Let's run a demonstration to see the differences in action.

As demonstrated:

Using the comma (`,`):
```
Output: Hello 5
```

Using the plus (`+`):
```
Output: Hello 5
```

In both cases, the outputs are the same in this example. However, the distinction comes in how they handle different types and spacing, as previously explained. Using the comma is generally more forgiving and flexible for printing multiple items, while the plus sign requires more care regarding type compatibility and formatting.